@font-face {
  font-family: 'SMA Futura';
  src: url('./assets/font/SMAFutura-DemiBold.eot');
  src: url('./assets/font/SMAFutura-DemiBold.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/SMAFutura-DemiBold.woff') format('woff'),
      url('./assets/font/SMAFutura-DemiBold.ttf') format('truetype');
  font-weight:700;
  font-style: normal;
}


@font-face {
  font-family: 'SMA Futura';
  src: url('./assets/font/SMAFutura-Regular.eot');
  src: url('./assets/font/SMAFutura-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/SMAFutura-Regular.woff') format('woff'),
      url('./assets/font/SMAFutura-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Md BT';
  src: url('./assets/font/FuturaBT-Medium.eot');
  src: url('./assets/font/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/FuturaBT-Medium.woff2') format('woff2'),
      url('./assets/font/FuturaBT-Medium.woff') format('woff'),
      url('./assets/font/FuturaBT-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



html, body, #root, .App
{
  height: 100%;
}
.MuiLink-underlineHover:hover
{
  text-decoration: none !important;
  color:#E2001A;
}
body
{
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 400;
  background-color: #e6e6e6;
  color: #333;
  font-family: 'SMA Futura';

}
h1, h2, h3, h4, h5, h6, p, label
{
  margin: 0px;
}
a:hover
{
  text-decoration: none;
}
.btn:focus, .btn.focus, button:focus, :focus
{
  outline: none;
  box-shadow: none;
}
.form-control:focus
{
  border-color: transparent;
  box-shadow: none;
}

/*Delivery Pages CSS*/
/*header css*/
header
{
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
header h1
{

  display: inline-flex;
}
header .namecompany {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
header .namecompany h2 {
  font-size: 19px;
  background: #fff;
  color: #333333;
  display: inline-block;
  padding: 2px 15px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
header .namecompany small
{
  font-size: 12px;
  color: #B1B3B4;
}


header button.MuiButton-root {
  text-transform: none !important;
  padding: 0px;
}
header button.MuiButton-root img
{
  margin-left: 10px;
}
/*Footer Start*/
footer
{
  background-color: #282828;
  padding: 11px 0px;
}
.footer-content
{
  display: flex;
  justify-content: space-between;
  font-size: 14px;

}
.footer-content p {
  color: rgba(255, 255, 255, 0.30);
  padding: 10px 0px;
}
.footer-content ul
{
  margin: 0px;
  padding: 0px;
  
}
.footer-content ul li
{
  display: inline;
}
.footer-content ul li a
{
  display: inline-block;
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.70);
}

/*Step css*/


.delivery-wrap
{
 
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eceded+0,ffffff+100 */
background: #F6F7F7; /* Old browsers */
background: -moz-linear-gradient(top,  #F6F7F7 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #F6F7F7 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #F6F7F7 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F6F7F7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
/*Button css*/
.step-btn
{
  padding: 10px 20px 50px;
}
.step-btn .MuiButton-containedSecondary, .cust-btn.MuiButton-containedSecondary
{
  background-color: #E2001A;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  min-width: 130px;
  text-transform: capitalize;
}
.step-btn .MuiButton-outlinedSecondary, .cust-btn .MuiButton-outlinedSecondary
{
  color: #E2001A;
  border: 1px solid #E2001A;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  min-width: 130px;
  text-transform: capitalize;
}
.MuiButton-containedSecondary:hover {
  background-color: #E2001A;
}
.step-cover
{
  
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.step-first, .step-last.activelayer {
  width: 10%;
  background-color:rgba(135, 136, 138, 0.10);

}
.step-last
{
  width: 10%;
  background-color: rgba(135, 136, 138, 0.50);
}

.step-cover .MuiStepLabel-label.MuiStepLabel-alternativeLabel {
  margin: 0px;
  display: flex;
  align-items: center;
}
.step-cover .MuiStepper-root
{
  padding:0px;
  height: 120px;
  width: 81%;
}
.step-cover .MuiStep-alternativeLabel {
  flex: auto;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.step-cover .step-number {
  font-size: 60px;
  line-height: 50px;
  font-weight: normal;
  color: #333333;
  padding-right: 20px;
}
.step-cover .step-name
{
  font-size:28px;
  line-height: 28px;
  color: #333333;
  font-weight: normal;
  text-align: left;
}
.step-cover .MuiStep-alternativeLabel
{
  flex: auto;
}
.step-cover .Mui-disabled .step-number
{
  font-size: 38px;
  color: rgba(51, 51, 51, 0.5);
  padding: 0px;
}
.step-cover .step2 {
  background-color: rgba(135, 136, 138, 0.20);
}
.step-cover .step3 {
  background-color: rgba(135, 136, 138, 0.30);
}
.step-cover .step4 {
  background-color: rgba(135, 136, 138, 0.40);
}
.step-cover .step5 {
  background-color: rgba(135, 136, 138, 0.50);
}

.step-cover .MuiStep-completed:first-child, .step-first.activelayer {
  border-bottom: 3px solid #E2001A;
}
.step-cover .activestep {
  width: 60%;
  justify-content: flex-start;
  background-color: #fff;
  padding: 0px 20px;
}

.step-cover .step1.MuiStep-completed {
  background-color: rgba(135, 136, 138, 0.10);
}
/*Main Content*/
/* .makeStyles-root-3 {
  width: 100%;
  height: Calc(100vh - 131px);
}
.delivery-content {
  height:100%;
} */
.delivery-content h3
{
  font-size: 50px;
  color: #333333;
  text-align: center;
  padding: 60px 0px 40px;
  font-weight: 700;
}
.form-box
{
  border: 1px solid #ECEDED;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.fullwidth
{
  width:100%;
}
.delivery-content  .MuiFormLabel-root
{
font-size: 28px;
color: #B1B3B4;
}
.delivery-content .MuiSelect-selectMenu, .delivery-content .MuiInput-input
{
  min-height: 28px;
}

.delivery-content .MuiSelect-select
{
  padding-bottom: 10px;
}
.custom-input .MuiInputBase-input.MuiInput-input {
  padding: 1px 0px 10px;
}
.delivery-content .MuiInputLabel-shrink
{
  font-size: 16px;
  color: #B1B3B4;
}
.delivery-content .MuiSelect-selectMenu, .delivery-content .MuiInput-input
{
  font-size: 28px;
  color: #333333;
}
.delivery-content .MuiInput-underline:before
{
  border-bottom:2px solid #B1B3B4 ;
}

.delivery-content .MuiFormLabel-root.Mui-focused
{
  color: #B1B3B4;
}
.delivery-content .MuiSelect-select:focus
{
background-color: transparent;
}
.delivery-content .MuiFormControl-root
{
  margin-bottom: 24px;
}
.custom-cehckbox .MuiTypography-body1
{
  line-height: 16px;
}
.custom-cehckbox .MuiCheckbox-colorSecondary.Mui-checked
{
  color: #E2001A;;
}

.bottom-content
{display: flex;
  justify-content: space-between;
  align-items: center;
  color: #B1B3B4;
  margin-top: 14px;
}
.bottom-content p{font-size: 14px;}
.bottom-content a
{
  display: flex;
  color:#004A7F;
  font-size: 18px;
  align-items: center;
}

.MuiPaper-elevation4
{
  box-shadow: none!important;
  background-color: transparent !important;
}
/*Custom Checkbox*/
.custom-cehckbox > span {
  padding: 0px 10px 0px 12px;
}
.custom-cehckbox > span svg.MuiSvgIcon-root {
  width: 24px;
  height: 24px;
  border: 1px solid #B1B3B4;
  fill: transparent;
}
.custom-cehckbox > span i {
  width: 24px;
  height: 24px;
  border: 1px solid #B1B3B4;
  color:#B1B3B4;
}
.MuiIconButton-colorSecondary:hover
{
  background-color: transparent !important;
}
.MuiFormControlLabel-root.custom-cehckbox
{
  align-items: flex-start;
}

/*Login Page*/
.MuiBackdrop-root
{
  background-color: rgba(255, 255, 255, 0.8) !important;
}
.login-form
{
  text-align: center;
  background-color: #ECEDED;
  padding-top: 20px;
}
.login-form h3
{
  font-size: 36px;
  padding: 0px;
  
}
.login-form small
{
  font-size: 16px;
  margin: 30px 0px 20px 0px;
  display: flex;
  justify-content: center;
}
.login-form form {
  padding: 0px 70px 60px;
}
.login-form a
{
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.orcode
{
  margin-top: 60px;
}
.orcode .custom-input {
  margin-top: 40px;
  padding: 0px 30px;
}

.qrcode-scanner {
  height: 40px;
  max-width: 206px;
  border: 1px solid #333333;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  margin-bottom: 38px;
}

.orcode p
{
  color: #B1B3B4;
  font-size: 14px;
}


/*Firt step Modal*/
.custom-modal
{
  text-align: center;
  font-family: 'Futura Md BT';
 
}
.custom-modal .MuiDialog-paper
{
  padding: 10px 0px 30px;
}

.custom-modal h2
{
  font-size: 28px;
  line-height: 35px;
}

.change-addres-modal img
{
  margin: 40px 0px 50px 0px;
}
.change-addres-modal p
{
  font-size: 14px;
  margin-bottom: 30px;
}
.change-addres-modal .MuiDialogActions-root
{
justify-content: center;
}

/*Step TWO PAGES*/
.input-icon i
{
width:24px;
}
.info-know
{
  display: flex;
  justify-content: flex-start;
  align-items:  flex-start;
  margin-top: 80px;
  margin-bottom: -20px;
}
.info-know p
{
  color: #B1B3B4;
  font-size: 12px;
}
.info-know i
{
  width:24px;
  color: #B1B3B4;
  margin-right: 14px;
}
.change-provide .bottom-content
{
  margin-bottom:20px;
}

/*checkbox*/
.MuiRadio-colorSecondary.Mui-checked
{
  color:#333333 !important;
}
.step3-form .MuiTextField-root {
  width: 100%;
}

/*Step 3 Modal Design*/
.provider-modal .MuiButton-text {
  padding: 0px;
  color: #333;
}
.provider-modal .MuiButton-text span.material-icons
{
  font-size: 26px;
}
p.MuiTypography-root.toolhead{
  margin-bottom: 20px;
  font-size: 14px;
}
.meter {
  display: flex;
  justify-content: center;
}
.meter2 {
  margin-right: 20px;
}
.meter1 {
  margin-left: 20px;
}
.change-provide .MuiButton-text {
  padding: 0px;
  min-width: auto;
}

.MuiTooltip-popperArrow[x-placement*="left"] .MuiTooltip-arrow {
  
  width: 2em !important;
  height: 3em !important;
  margin-right: -20px !important;
}
.MuiTooltip-popperArrow[x-placement*="top"] .MuiTooltip-arrow
{
  width: 3em !important;
  height: 2em !important;
  margin-bottom: -2em !important;
}
.MuiTooltip-popperArrow[x-placement*="bottom"] .MuiTooltip-arrow
{
  width: 3em !important;
  height: 2em !important;
  margin-bottom:-2em !important;
}
.overlay-tooltip {
  position: fixed;
  background: rgba(255, 255, 255, 0.90);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.close-btn {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  right: 0px;
}
/*Step 5 Change Provider*/
.payment-detail p
{
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.payment-detail-box
{
  border:1px solid #004A7F;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.detail-row {
  font-size: 28px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #004A7F;
  justify-content: flex-start;
}

.detail-name {
  padding: 20px 20px 20px 50px;
  width: 50%;
}
.detail-amount {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 20px 0px 20px 20px;
  width: 50%;
}

.detail-amount p {
  font-size: 28px;
  margin-bottom: 0px;
  text-align: left;
  margin-right: 14px;
}
.detail-amount span

{
  font-size: 20px;
  margin-left: 8px;
}
.detail-name small {
  font-size: 14px;
  color: #B1B3B4;
}
.blue-bg
{
  background-color: #004A7F ;
  color: #fff;
}
.personal-product-details .MuiPaper-elevation1 {
  box-shadow: none;
  background: transparent;
}



.personal-product-details .MuiAccordionSummary-root
{
  align-items: flex-start;
  padding: 0px 0px 0px 30px;
}

.personal-product-details .MuiAccordionSummary-content
{
  flex-direction: column;
  margin:12px -36px 12px -30px !important;
}

.personal-product-details .MuiTypography-body1 {
  font-size: 28px;
  font-family: 'SMA Futura';
  width: 100%;
}
.personal-product-details .MuiTypography-body1 a
{
  font-size: 18px;
  color: #004A7F;
}
.personal-product-details .prdt-left
{
  font-size: 16px;
}
.personal-product-details .prdt-right
{
  font-size: 20px;
  text-align: right;
}

.personal-product-details .MuiAccordion-root {
  
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}
.personal-product-details .MuiAccordion-root:last-child {
  border: 0px;
}
.personal-product-details .MuiAccordion-root:before {
  opacity: 0 !important;
}

.personal-product-details .MuiAccordionDetails-root
{
  padding-left: 0px;
  padding-right: 0px;
}

.pwd-captcha
{
  border-radius: 20px;
  -webkit-border-radius: 20px;
  border:2px solid #B1B3B4;
  background-color: #fff;
  padding: 20px 60px;
  margin: 40px auto;
  
  text-align: center;
}
.personal-product-details .form-box
{
  padding: 40px 100px;
}
.check-details
{
  border-top:1px solid rgba(0, 0, 0, 0.10);
  padding-top: 50px;
}
.check-details a {
  color: #004A7F;
  text-decoration: underline;
}
.personal-product-details .MuiAccordionSummary-expandIcon > span.MuiIconButton-label {
  border: 1px solid #333;
  border-radius: 100px;
  width: 26px;
  height: 26px;
  line-height: 27px;
}
.personal-product-details .MuiAccordionSummary-expandIcon > span.MuiIconButton-label .material-icons
{
  font-size: 18px;
}

/*sepa detail modal*/
.sepa-details {
  max-width: 430px;
  margin:20px auto 40px;
}

.sepa-details ul {
  margin: 0px;
  padding: 0px;
}
.sepa-details ul li {
  list-style: none;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  font-size:14px;
}
.sepa-details ul li label
{
  color: #B1B3B4;
    padding-right: 20px;
    width: 200px;
    text-align: left;

}
.sepa-details ul li span
{
  
    text-align: left;
    color: #333;

}

@media(max-width: 1199px)
{
  .personal-product-details .form-box {
    padding: 40px 40px;
  }
}

@media(max-width: 991px)
{
  .step-cover .step-name
  {
    font-size: 25px;
  }
  .step-cover .step-number
  {
    font-size: 55px;
  }
  
}

@media(max-width: 767px) 
{
  .bottom-content
  {
    flex-direction: column;
    align-items: flex-start;
  }
  .step-first, .step-last
  {
    display: none;
  }
  .step-cover .MuiStepper-root
  {
    width:100%;
  }
  .step-cover .step-number {
    font-size: 45px;
    padding-right: 5px;
  }
  .step-cover .step-name {
    font-size: 20px;
  }
  /*Step 5*/
  .detail-amount p
  {
    margin-right: 10px;
  }
  .detail-amount span {

    margin-left: 5px;
}
.info-know
{
  margin-bottom: 20px;
  margin-top: 20px;
}

}

@media(max-width: 575px) 
{
  .delivery-content h3
  {
    padding: 30px 0px;
    font-size: 40px;
  }
  .step-btn {
    padding: 20px 20px 20px;
}
.step-cover .MuiStep-alternativeLabel {
  padding-left: 5px;
  padding-right: 5px;
}
/*Step 5*/
.detail-name {
  padding: 20px 0px 20px 20px;
  width: 45%;
}
.detail-amount {
 
  padding: 20px 0px 20px 0px;
  width: 55%;
}
.detail-amount p
{
  font-size: 25px;
}
.step-cover .MuiStep-alternativeLabel {
    flex: auto;
}
 .delivery-content .step3-form .MuiFormLabel-root {
  font-size: 24px;
}
/*login*/
.login-form form {
  padding: 0px 15px;
}
.login-form .pl-5.pr-5 {
  padding: 0px !important;
}
.orcode .custom-input {
 
  padding: 0px 10px;
}
.orcode .custom-input input
{
  font-size: 20px;
}

}

@media(max-width: 480px) 
{
  header h2
  {
    font-size: 16px;
    text-align: center;
  }
  header .namecompany
  {
    padding-left: 5px;
    padding-right: 5px;
  }
  .footer-content
  {
    flex-direction: column;
    align-items: center;
  }
  .delivery-content h3
  {
    font-size: 30px;
    padding: 20px 0px;
  }
  .step-btn {
    flex-direction: column;
}
.step-btn button
{
  margin-bottom: 15px;
}
.step-cover .MuiStepper-root
{
  flex-direction: column;
}
.step-cover .MuiStep-alternativeLabel
{
  width:100%;
  padding: 10px;
}
.step-cover .MuiStepper-root
{
  height: auto;
}
/*Step 5*/
.detail-row {
  flex-direction: column;
  text-align: center;
}
.detail-name {
  padding: 20px 0px 0px;
  width: 100%;
  text-align: center;
}
.detail-amount {
  padding: 0px 0px 20px 0px;
  width: auto;
  text-align: center;
}
.personal-product-details .MuiTypography-body1
{
  font-size: 24px;
  line-height: 25px;
  margin-bottom: 10px;
}
.personal-product-details .form-box {
  padding: 10px;
}
.delivery-content .MuiFormLabel-root {
  font-size: 19px;
}
.delivery-content h3 {
  font-size: 25px;
  
}
/*Step 4*/
.custom-cehckbox .MuiTypography-body1 {
  word-break: break-word;
}
.form-box
{
  padding:10px !important;
}

.sepa-details ul li {
 
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 10px;
}
.sepa-details ul li label {
 
  padding-right: 0px;
  width: auto; 

}
.custom-modal h2
{
  font-size: 20px;
}
/*Step 3*/
.delivery-content .step3-form .MuiFormLabel-root {
  font-size: 14px;
}
span.MuiTooltip-arrow {
  display: none;
}
}

